# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
*.idea/

# Other
.DS_Store
static/.DS_Store

#Database
*.db