<!DOCTYPE html>
<html>
<head>
    <title>fonegrafiKs</title>
    <style>
        {% include 'style.css' %}
    </style>
</head>
<body>
    <div id="title">FON⋂GRAFIK̇S</div>

    <svg id="edges" width="100%" height="100%"></svg>

    {% for node in nodes %}
        {% if not node.parent_id %}
            <div class="circle-node"
                 id="{{ node.id }}"
                 ipa="{{ node.ipa }}"
                 style="left: {{ node.x }}px; top: {{ node.y }}px;"
                 onclick="handleNodeClick(this)">
                {{ node.ipa }}
            </div>
        {% else %}
            <div class="dot-node"
                 id="{{ node.id }}"
                 ipa="{{ node.ipa }}"
                 data-parent="{{ node.parent_id }}"
                 onclick="handleNodeClick(this)">
            </div>
        {% endif %}
    {% endfor %}

    <div id="input-container">
        <div id="clicked-nodes"></div>
        <button id="back-btn" onclick="handleBackBtn()" >←</button>
        <button id="submit-btn" onclick="handleSubmitBtn()" >Submit</button>
        <div id="response-message"></div>
    </div>

    <div id="button-container">
        <button id="playSoundBtn" onclick="handlePlaySoundBtn()">Repeat</button>
        <button id="newSoundBtn" onclick="handleNewSoundBtn()">New Sound</button>
    </div>

    <script>
    window.edgeData = {{ edges | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
